<footer class="footer">
    <div class="footer__top">
         <div class="container">
            <h2 class="footer__title">Остались вопросы?<br>свяжитесь с нами, мы вам поможем!</h2>
            <div class="footer__descr">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            <form action="#" class="footer__form">
                <input type="text" required placeholder="Ваше имя" class="footer__inputname">
                <input type="text" required pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" placeholder="Ваш телефон" class="footer__inputphone">
                <input type="submit" class="footer__button">
                <div class="footer__inputpolicy"><input type="checkbox">Согласен на обработку <a href="#">персональных данных</a> </div>
            </form>
         </div>
       
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__wrapper">
                <a href="/" class="footer__logo"><img src="assets/img/footer/logo.svg" alt="footer__logo"></a>
                <div class="footer__menu">
                    <div class="footer__menu-first">
                        <h4 class="footer__menu-title">Меню</h4>
                        <ul>
                            <li> <a href="#">Delivery & returns</a> </li>
                            <li> <a href="#">FAQ</a> </li>
                            <li> <a href="#"> Contacts</a></li>
                            <li> <a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer__menu-second">
                        <h4 class="footer__menu-title">Каталог</h4>
                        <ul>
                            <li> <a href="#">New arrivals</a> </li>
                            <li> <a href="#">Trending now</a> </li>
                            <li> <a href="#">Sales</a> </li>
                            <li> <a href="#">Brands</a> </li>
                        </ul>
                    </div>
                   
                </div>
                <div class="footer__contacts">
                    <div class="footer__contacts-title">кОНТАКТЫ ДЛЯ СВЯЗИ</div>
                    <div class="footer__contacts-phone">Телефон: <a href="tel:+79289525754">+7928-952-57-54</a></div>
                    <div class="footer__contacts-email">Почта: <a href="mailto:hello@createx.com">hello@createx.com</a></div>
                    <div class="footer__icons">
                       <a href="#" class="icon-facebook"></a>
                       <a href="#" class="icon-instagram"></a>
                       <a href="#" class="icon-twitter"></a>
                       <a href="#" class="icon-youtube"></a>
                       <a href="#" class="icon-pinterest"></a>
                    </div>
                </div>
            </div>
          
           
        </div>
    </div>
    <div class="footer__divider"></div>
    <div class="container">
     <div class="footer__copyright">674 Gonzales Drive.   Washington, PA 15301</div>
    </div>
    <div class="scrollTop scrollTop_hide icon-up"></div>
</footer>
