<footer class="footer">
    <div class="footer__top">
         <div class="container">
            <h2 class="footer__title">Остались вопросы?<br>свяжитесь с нами, мы вам поможем!</h2>
            <div class="footer__descr">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            <form action="" class="footer__form">
                <input type="text" placeholder="Ваше имя" class="footer__inputname">
                <input type="phone" placeholder="Ваш телефон" class="footer__inputphone">
                <input type="submit" class="footer__button">
                <div class="footer__inputpolicy"><input type="checkbox">Согласен на обработку <a href="#">персональных данных</a> </div>
            </form>
         </div>
       
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__logo"><img src="assets/img/footer/logo.svg" alt="footer__logo"></div>
                <div class="footer__menu">
                    <div class="footer__menu-first">
                        <h4 class="footer__menu-title">Меню</h4>
                        <ul>
                            <li>Delivery & returns</li>
                            <li>FAQ</li>
                            <li>Contacts</li>
                            <li>Blog</li>
                        </ul>
                    </div>
                    <div class="footer__menu-second">
                        <h4 class="footer__menu-title">Каталог</h4>
                        <ul>
                            <li>New arrivals</li>
                            <li>Trending now</li>
                            <li>Sales</li>
                            <li>Brands</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="footer__contacts">
                    <div class="footer__contacts-title">кОНТАКТЫ ДЛЯ СВЯЗИ</div>
                    <div class="footer__contacts-phone">Телефон: <a href="#">+7928-952-57-54</a></div>
                    <div class="footer__contacts-email">Почта: <a href="#">hello@createx.com</a></div>
                    <div class="footer__icons">
                       <a href="#" class="icon-facebook"></a>
                       <a href="#" class="icon-instagram"></a>
                       <a href="#" class="icon-twitter"></a>
                       <a href="#" class="icon-youtube"></a>
                       <a href="#" class="icon-pinterest"></a>
                    </div>
                </div>
            </div>
          
           
        </div>
    </div>
    <div class="footer__divider"></div>
    <div class="container">
     <div class="footer__copyright">674 Gonzales Drive.   Washington, PA 15301</div>
    </div>
</footer>