@import 'base/variable';
@import 'libs/reboot';
@import 'libs/tinyslider';
@import 'base/fonts';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');


*, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/divider';
@import 'blocks/title';
@import 'blocks/details';
@import 'blocks/stocks';
@import 'blocks/card';
@import 'blocks/ideas';
