@font-face {
  font-family: 'icomoon';
  src:  
    url('../fonts/icomoon.woff?oqlhbu') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: icomoon;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.icon-up:before {
  content: "\e90e";
  color: #fff;
}
.icon-arrow-carousel:before {
  content: "\e905";
}
.icon-left-arrow:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-right-arrow_long:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-solid-arrow:before {
  content: "\e90b";
}
.icon-spoiler-arrow:before {
  content: "\e90c";
}
.icon-whatsapp1:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}