@font-face {
  font-family: 'icomoon';
  src:  
    url('../fonts/icomoon.woff?oqlhbu') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-right-arrow_long:before {
  font-family: 'icomoon';
  content: "\e909";

}
.icon-solid-arrow:before {
  font-family: 'icomoon';
  content: "\e90b";

}
.icon-spoiler-arrow:before {
  font-family: 'icomoon';
  content: "\e90c";

}
.icon-left-arrow:before {
  font-family: 'icomoon';
  content: "\e900";

}
.icon-phone:before {
  font-family: 'icomoon';
  content: "\e901";

}
.icon-right-arrow:before {
  font-family: 'icomoon';
  content: "\e902";

}
.icon-search:before {
  font-family: 'icomoon';
  content: "\e903";

}
.icon-whatsapp:before {
  font-family: 'icomoon';
  content: "\e904";

}
.icon-twitter:before {
  font-family: 'icomoon';
  content: "\ea96";
}
.icon-checkmark:before {
  font-family: 'icomoon';
  content: "\ea11";
}
.icon-facebook:before {
  font-family: 'icomoon';
  content: "\ea90";
}
.icon-instagram:before {
  font-family: 'icomoon';
  content: "\ea92";
}
.icon-youtube:before {
  font-family: 'icomoon';
  content: "\ea9d";
}
.icon-pinterest:before {
   font-family: 'icomoon';
  content: "\ead1";
}