.card {
    width: 282px;
    min-height: 445px;
    background: #fff;
    padding: 15px 17px;
    position: relative;
    &-img {
        object-fit: cover;
        height: 220px;
        width: 247px;
    }
    &-title {
        margin-top: 26px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        color: $first-color;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &-descr {
        margin-top: 4px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &-prices {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 10px;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    &-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: $first-color;
    }
    &-oldprice {

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #949981;
    }
    &-button {
        margin-top: 21px;
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        text-transform: capitalize;
        padding: 10px 0px;
    }
}