.catalog {
    padding-top: 54px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 18px;
    }

    &__header {
        padding: 17px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__filter {
        display: flex;
        gap: 36px;

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #9C9C9C;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        &-type {
            margin-left: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            transition: all .4s;
            color: $first_color;
        }
    }

    &__wrapper {
        margin-top: 50px;
        display: flex;
        gap: 48px;
    }

    &__aside {
        width: 282px;
        ul {
            list-style-type: none;
        }

        &-menu {
            background: #F9F9F9;
            padding: 0 5px;
        }

        &-link,
        &-sublink,
        &-subsublink {
            font-weight: 500;
            line-height: 55px;
            color: #9C9C9C;
            display: block;
            position: relative;
            &:hover {
                text-decoration: none;
                color: $first_color;
            }

            span {
                display: block;
                top: 10px;
                transform: rotate(-90deg);
                position: absolute;

            }
        }

        &-link {
            padding: 10px 0px 10px 15px;
            font-size: 16px;

            span {
                font-size: 10px;
                right: 15px;

            }

        }

        &-sublink {

            padding: 0px 0px 0px 15px;
            font-size: 14px;

            span {
                font-size: 8px;
                top: 0;
                right: 15px;
            }

        }

        &-subsublink {
            padding: 0px 0px 0px 35px;
            font-size: 14px;

            span {
                left: 15px;
                top: -1px;
                font-size: 8px;

            }
        }

        &-sublists {
            transition: height, margin-top .6s;
            opacity: 0;
            visibility: hidden;
            height: 0;
            margin-top: -10px;

            &_active {
                margin-top: 0px;
                opacity: 1;
                visibility: visible;
                height: inherit;

            }
        }

        &-subsublists {
            transition: height, margin-top .4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
            margin-top: -5px;

            &_active {
                margin-top: 0px;
                opacity: 1;
                visibility: visible;
                height: inherit;

            }
        }

        &-list,
        &-sublist {
            border-bottom: 1px solid #E5E5E5;

            &:last-child {
                border: none;
            }
        }

        &-sublist {
            &:first-child {
                border-top: 1px solid #E5E5E5;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(3, 445px);
        grid-auto-rows: 445px;
        column-gap: 37px;
        row-gap: 54px;
    }

    &__card {
        box-shadow: 0px 4px 47px -2px rgba(0, 0, 0, 0.25);
    }

    &__showmore {
        display: block;
        margin-top: 36px;
        font-weight: 300;
        font-size: 21px;
        line-height: 25px;
        text-transform: uppercase;
        color: #282A30;
        text-align: right;

        span {
            margin-left: 10px;
            font-size: 10px;
            vertical-align: middle;
        }

        &:hover {
            text-decoration: none;
            color: $first_color;
        }
    }

    &__pagination {
        margin-top: 60px;
    }

    &__arrow {

        &_active {

            &:before {

                display: block;
                transform: rotate(90deg);
            }

        }
    }
}