.promo {
    padding: 20px 0px 0px 0px;
    min-height: 821px;
    background: url('../img/promo/bg_promo.jpg') center center/cover no-repeat;
   

    &__slider {
        height: 821px;
        &-item {
            position: relative;
        }
        &-btns {
            left: 15px;
            bottom: 220px;
            button {
                background-color: $first-color;
                color: #fff;
                &:hover {
                    background-color: #fff;
                    color: $first-color;
                }
              
            } 
            .disabled {
                   background-color: transparent;
                   border: 1px solid #fff;
            }
        }
    }
    &__img {
       position: absolute;
        top: 0px;
        right: 0;
        z-index: -1;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__border {
        position: absolute;
        width: 888px;
        height: 582px;
        left: 249px;
        top: 57px;
        border:  1px solid $first-color;
        z-index: -10;
    }
    &__text {
        margin-top: 149px;
        padding: 67px 43px 58px 103px;
        width: 743px;
        height: 361px;
        background: #000;
    }
    &__descr {
        display: flex;
        align-items: center;

        
    }
    &__divider {
        height: 1px;
        background: #9C9C9C;
        width: 82px;
        margin-left: 11px;
    }
    &__title {
        overflow: hidden;
        height: 120px;
        margin-top: 15px;
        font-weight: 400;
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-overflow:clip;
        span {
            color: $first-color;
        }

    }
    &__subtitle {
        
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9C9C9C;

    }
    &__buttons {
        margin-top: 25px;
        display: flex;
       
    }
    &__button {
        margin-right: 23px;
        border: none;
    }
    .tns-nav {
   
        position: absolute;
        z-index: 100;
        left: 15px;
        bottom: 140px;
        &-active {
            background-color: $first-color !important;
            } 
        button {
            background-color: #fff;
            width: 40px;
            height: 3px;
            border-radius: 5px;
            outline: none;
            border: none;
            margin-right: 18px;
           
        }
       
        
    }
}


