.promo {
   
    min-height: 821px;
    background: url('../img/promo/bg_promo.jpg') center center/cover no-repeat;
    &__slider {
        position: relative;
    }
    &__img {
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 1;
     
        img {
            height: 100%;
            width: 100%;
            
        }
    }
    &__block {
        z-index: 10;
        padding: 67px 43px 58px 103px;
        position: absolute;
        left: 0;
        top: 149px;
        width: 743px;
        min-height: 361px;
        background: #000;
    }
    &__sublock {
        display: flex;
        align-items: center;
        
    }
    &__divider {
        height: 1px;
        background: #9C9C9C;
        width: 82px;
        margin-left: 11px;
    }
    &__title {
        margin-top: 15px;
        font-weight: 400;
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        color: #FFFFFF;
        span {
            color: $first-color;
        }

    }
    &__subtitle {
        
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9C9C9C;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
       
    }
    &__button {
        margin-right: 23px;
    }
}